/* Footer.css */
.footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }
  
  .footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .twitter:hover {
    color: #1da1f2;
  }
  
  .facebook:hover {
    color: #1877f2;
  }
  
  .instagram:hover {
    color: #e4405f;
  }
  
  .linkedin:hover {
    color: #0a66c2;
  }
  